<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-title">Sokhna Plant Companion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="digital-transformation-content">
  <section class="digital-hero">
    <ion-icon name="flash-outline" aria-hidden="true"></ion-icon>
    <h1>Digital Transformation</h1>
    <p>Explore the digital initiatives shaping how we work, connect, and grow.</p>
  </section>
</ion-content>
