<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-title">Sokhna Plant Companion</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="dashboard-content">

<!-- Short Intro -->
<ion-card class="intro-card ion-margin-vertical">
  <ion-card-content class="ion-text-center">
    <h2 class="intro-title">Welcome to Egypt!</h2>
    <p class="intro-description">
      Your curated itinerary blends business with discovery for a seamless experience.
    </p>
  </ion-card-content>
</ion-card>


  <!-- Sleek Embedded Map -->
  <ion-card class="map-card">
    <ion-card-header>
      <h4 style="color: #1d4370; font-weight: 700;">
        Itinerary Map
      </h4>
      <p style="color:#94c12e">Tap to explore key stops in your visit</p>
    </ion-card-header>
    <ion-card-content>
<iframe
  src="https://www.google.com/maps/d/embed?mid=1789mzSAiW_E1dcq-Fyw0ZBdyhjYmgBQ&ehbc=2E312F&noprof=1&hl=en"
  width="100%"
  height="380"
  style="border:0;"
  allowfullscreen=""
  loading="lazy">
</iframe>

    </ion-card-content>
  </ion-card>

    <hr class="holcim-gradient-line" />

<section class="itinerary-section">
  <h2 class="section-title  " style="color: #1d4370">Your Visit Itinerary</h2>
  <div class="itinerary-cards">

    <!-- Day 1: May 20 -->
<!-- Day 0 – May 26: Arrival & Leadership Engagement -->
<ion-card class="day-header-card">
  <ion-card-header>
    <ion-card-title>Day 0 – May 26: Arrival & Leadership Engagement</ion-card-title>
  </ion-card-header>
</ion-card>


<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Arrival to Marriott MENA House</ion-card-title>
    <ion-card-subtitle>19:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-green">
  <ion-card-header>
    <ion-card-title>Meet Country Leadership Team & Strategy</ion-card-title>
    <ion-card-subtitle>19:30 - 20:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Dinner with the Leadership Team by the Pyramids</ion-card-title>
    <ion-card-subtitle>20:30 - 22:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Check-In at Dusit Thani Hotel</ion-card-title>
    <ion-card-subtitle>22:00 - 22:50</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<!-- Day 1 – May 27: People & Purpose Day -->
<ion-card class="day-header-card">
  <ion-card-header>
    <ion-card-title>Day 1 – May 27: People & Purpose Day</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Move to Lafarge Egypt HQ</ion-card-title>
    <ion-card-subtitle>08:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-green">
  <ion-card-header>
    <ion-card-title>Arrival to Lafarge Egypt HQ & Meet K.D</ion-card-title>
    <ion-card-subtitle>08:15 - 08:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Our People Journey: People & Comms Strategy and Roadmap</ion-card-title>
    <ion-card-subtitle>08:30 - 09:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Meet GROW & STEP-IN</ion-card-title>
    <ion-card-subtitle>09:30 - 10:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Floor walkthrough and engagement with HQ people</ion-card-title>
    <ion-card-subtitle>10:00 - 10:20</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-darkBlue">
  <ion-card-header>
    <ion-card-title>Leading the way for Her: A Mentorship talk with our CPO</ion-card-title>
    <ion-card-subtitle>10:30 - 11:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-darkBlue">
  <ion-card-header>
    <ion-card-title>Country Sustainability Strategy & Overview</ion-card-title>
    <ion-card-subtitle>11:30 - 12:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-darkBlue">
  <ion-card-header>
    <ion-card-title>Country HSE Overview</ion-card-title>
    <ion-card-subtitle>12:00 - 12:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>From HQ to Dusit Thani Hotel</ion-card-title>
    <ion-card-subtitle>12:30 - 12:45</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Break & Lunch</ion-card-title>
    <ion-card-subtitle>12:45 - 14:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-green">
  <ion-card-header>
    <ion-card-title>People Talk: Nurturing Future Leaders</ion-card-title>
    <ion-card-subtitle>14:30 - 16:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Video Call with Miljan</ion-card-title>
    <ion-card-subtitle>16:30 - 17:15</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Break</ion-card-title>
    <ion-card-subtitle>17:15 - 18:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Move from Dusit to Nile Cruise</ion-card-title>
    <ion-card-subtitle>18:00 - 19:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Dinner with the People Team - Nile Cruise</ion-card-title>
    <ion-card-subtitle>19:00 - 21:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<!-- Day 2 – May 28: Performance Day -->
<ion-card class="day-header-card">
  <ion-card-header>
    <ion-card-title>Day 2 – May 28: Performance Day</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Check-Out & move from Dusit Thani Hotel to SOK Plant</ion-card-title>
    <ion-card-subtitle>07:45 - 08:45</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-darkBlue">
  <ion-card-header>
    <ion-card-title>HSE Virtual Induction (on the road)</ion-card-title>
    <ion-card-subtitle>08:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-green">
  <ion-card-header>
    <ion-card-title>Welcome to SOK Plant</ion-card-title>
    <ion-card-subtitle>08:45 - 09:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Change into PPEs</ion-card-title>
    <ion-card-subtitle>09:00 - 09:15</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Plant Tour</ion-card-title>
    <ion-card-subtitle>09:15 - 10:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Meet Plant Excom & Sr. Managers - (SOK Plant & Geocycle Overview)</ion-card-title>
    <ion-card-subtitle>10:30 - 11:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>SOK Plant to Sarai RMX BP</ion-card-title>
    <ion-card-subtitle>11:00 - 12:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-blue">
  <ion-card-header>
    <ion-card-title>Sarai RMX BP Tour</ion-card-title>
    <ion-card-subtitle>12:00 - 13:00</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Sarai RMX BP to Le Meridien Hotel at CAI Airport</ion-card-title>
    <ion-card-subtitle>13:00 - 13:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-green">
  <ion-card-header>
    <ion-card-title>Wrap Up - Coffee</ion-card-title>
    <ion-card-subtitle>13:30 - 14:15</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="itinerary-card schedule-grey">
  <ion-card-header>
    <ion-card-title>Arrival at CAI Airport</ion-card-title>
    <ion-card-subtitle>14:30</ion-card-subtitle>
  </ion-card-header>
</ion-card>



  </div>
</section>
<p class="footer-text">
  Handcrafted with <span class="heart">💙</span>
</p>


    <!-- Add the rest of Day 1 & Day 2 cards as-is from your current code -->
</ion-content>
