<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <img src="assets/logoFinal-192.png" alt="Holcim Logo" class="logo-img" />
    </ion-buttons>
    <ion-title class="custom-title">Sokhna Plant Companion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-content ion-padding">
<!-- Intro Section -->
<div class="team-intro padded-section">
  <h2>Meet the Egypt Team</h2>
  <p>
    During your visit, you’ll meet key experts here to ensure your time in Egypt is insightful, productive, and safe.
  </p>
</div>

<br>

<!-- All Team Members -->
<div class="team-section">
  <div class="team-cards">
    <ion-card class="team-card">
      <ion-card-content>
        <img src="assets/najib.webp" alt="Najib RIBI" class="profile-img" />
        <h4>Najib RIBI</h4>
        <p>Director - Industrial</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="team-card">
      <ion-card-content>
        <img src="assets/ahmed.webp" alt="Ahmed Abdel Mohsen Abdel Rahman" class="profile-img" />
        <h4>Ahmed Abdel Mohsen Abdel Rahman</h4>
        <p>Director - Maintenance</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="team-card">
      <ion-card-content>
        <img src="assets/amr.webp" alt="Amr Nagi Mohamed Arafa" class="profile-img" />
        <h4>Amr Nagi Mohamed Arafa</h4>
        <p>Director - Quarry & Quality</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="team-card">
      <ion-card-content>
        <img src="assets/gharib.webp" alt="Mohamed Gharib Mohamed Mahmoud" class="profile-img" />
        <h4>Mohamed Gharib Mohamed Mahmoud</h4>
        <p>Director - Performance & Projects</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="team-card">
      <ion-card-content>
        <img src="assets/younis.webp" alt="Mohamed Salaheldin Ali Younis" class="profile-img" />
        <h4>Mohamed Salaheldin Ali Younis</h4>
        <p>Director - Production</p>
      </ion-card-content>
    </ion-card>
  </div>
</div>
