.splash-screen-content {
  --background: none;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('/assets/splash.png') no-repeat center center;
    background-size: cover; // changed from contain to cover
    z-index: -1;
  }
}

.splash-wrapper {
  position: absolute; // ensures it sits inside content area
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
