<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-custom">
    <ion-buttons slot="start">
      <img src="assets/logoFinal-192.png" alt="Holcim Logo" class="logo-img" />
    </ion-buttons>
    <ion-title class="custom-title">Sokhna Plant Companion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  class="login-page" 
  [fullscreen]="true"
  scrollY="true" 
  keyboardResizes="body"
>

  <div class="login-container">
    
    <!-- Logo Image -->
    <div class="logo-container">
      <img src="assets/logoFinal-512.png" alt="Holcim Logo" class="logo-image" />
    </div>

    <!-- Login Form -->
    <div class="login-form">
      <ion-item class="input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-button class="login-btn" expand="block" (click)="login()">
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
